<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>bc04ec7dc4ef2f60a2423757716bc5a8</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>vi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>momos0dc20190727</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google test</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.317038682796-o8aeselqcdf7igr4pemhasbpiuu61gkk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Prod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.639535783968-1v92i5m5kt64m8jframcro9nkag70ccl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zp-redirect-366</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.driver.facecar</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vivudriverscheme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.685322569-u9dpmvqp4n1ci8bnkjoi1vva9gfu705n</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>202009151800</string>
	<key>FIRAnalyticsDebugEnabled</key>
	<true/>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>b52db4225ef4fd0f38bdbe686be05c4b9e7a7ed2</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1658124794475315</string>
	<key>FacebookDisplayName</key>
	<string>ClientCar</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>momo</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>fbauth2</string>
		<string>fb</string>
		<string>zalopay</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>bankplus.com.vn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>VATO yêu cầu truy xuất vào máy ảnh của bạn để sử dụng chức năng này.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Để giúp bạn có một chuyến đi tin cậy, VATO thu thập dữ liệu vị trí từ lúc bạn mở ứng dụng đến khi chuyến đi kết thúc. Việc này giúp cải thiện hoạt động đón trả khách và hỗ trợ của chúng tôi.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Để giúp bạn có một chuyến đi tin cậy, VATO thu thập dữ liệu vị trí từ lúc bạn mở ứng dụng đến khi chuyến đi kết thúc. Việc này giúp cải thiện hoạt động đón trả khách và hỗ trợ của chúng tôi.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>VATO yêu cầu truy xuất vào thư viện ảnh của bạn để sử dụng chức năng này.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>VATO yêu cầu truy xuất vào thư viện ảnh của bạn để sử dụng chức năng này.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>method</key>
	<string>app-store</string>
</dict>
</plist>
